rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /circolari/{circolareId} {
      allow read, create: if true;

      allow update, delete: if false;

      match /answers/{answerId} {
        allow read: if true;

        allow create: if incomingData().fields.size() > 0
          && incomingData().metadata.sent == request.time;

        allow update: if incomingData().fields.diff(existingData().fields).affectedKeys().size() == 0
          && incomingData().metadata.sent == existingData().metadata.sent
          && incomingData().metadata.handled == true;

        allow delete: if false;
      }
    }
  }

  function existingData() {
    return resource.data;
  }

  function incomingData() {
    return request.resource.data;
  }
}